{% extends "home/base.html" %}
{% block title %}Home{% endblock %} 

{% block content %}
<h1 class="title">Asan Arizona</h1>
<hr>
<p class="desc">Menyediakan kebutuhan rumah, listrik, bangunan, kue dan layanan service elektronik </p>

<div class="about">
    <div class="shop-picture">
        <div class="shop-picture-div">
            <img src="../../static/main/test1.jpg" alt="">
        </div>
    </div>
    <div class="shop-desc">
        <h2 class="desc-title">Tentang Toko</h2>
        <p class="desc-desc">
            Toko Asan merupakan toko yang serba ada / Toserba. 
        </p>
        <p class="desc-ket">

        </p>
    </div>
</div>


<div class="new-product">
    <h2>New Product</h2>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
      </div>
</div>


<div class="best-product">
    <h2>Best Seller</h2>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
      </div>
</div>
{% endblock %}

